<%= render 'paradise_share/nav' %>
<%= render partial: 'paradise_share/header', locals: { header_title: '健食天地' } %>


<main class="main">
  <section id='slide-container'>
    <i class='arrow prev'>&lt;</i>
    <i class='arrow next'>&gt;</i>
    <ul class='slide'>
      <li class='slide-item active' id='item1'>slide1</li>
      <li class='slide-item' id='item2'>slide2</li>
      <li class='slide-item' id='item3'>slide3</li>
      <li class='slide-item' id='item4'>slide4</li>
      <li class='slide-item' id='item5'>slide5</li>
    </ul>
    <div class='slide-dot-container'>
      <ul class='slide-dot'>
        <li class='dot item1'></li>
        <li class='dot item2'></li>
        <li class='dot item3'></li>
        <li class='dot item4'></li>
        <li class='dot item5'></li>
      </ul>
    </div>
  </section>
  <section id='week-hot'>
    <h2 class="sub-title">热门菜系</h2>
    <div class='hot-item-container'>
      <%= render partial: 'paradise_share/item_container', collection: hot_cates %>
    </div>
  </section>
  <section id='seasonal-ingredients'>
    <h2 class="sub-title">时令食材</h2>
    <div class='season-item-container'>
      <%= render partial: 'paradise_share/item_container', collection: season_ingredients %>
    </div>
  </section>
  <section id='health'>
    <h2 class="sub-title">健康小知识</h2>
  </section>
</main>

<%= render 'paradise_share/footer' %>
